@page "/counter"
@* Allow initialisation with a starting integer *@
@page "/counter/{Initial:int}"
@* Fall back with a string in case int parsing fails *@
@page "/counter/{StringInitial}"
@inherits Components.Counter

<h1>Counter</h1>

<img src="@ImageData"/>

<p>Current count: @Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>